@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Outlined");

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.star {
    color: orange;
}

.star-ele {
    cursor: pointer;
}